---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="bg-gray-900 font-inter">
    {% include header.html %}
    <main class="snap-container">
        <section id="section1" class="snap-section text-white bg-[url('/assets/images/Grid.png')] bg-cover bg-center">
            {% include section1.md %}
        </section>
        <section id="section1" class="snap-section text-white bg-[url('/assets/images/Honeycomb.png')] bg-cover bg-center">
            {% include section2.md %}
        </section>
        <section id="section3" class="snap-section bg-[url('/assets/images/Grid_3.png')] bg-cover bg-top-right" style="color: #353535;">
            {% include section3.md %}
        </section>
        <footer id="footer" class="bg-black text-gray-400 py-12 px-6 opacity-0 transition-opacity snappy">
            <div class="container mx-auto text-center">
                <h3 class="text-2xl font-bold text-white mb-4">Get In Touch</h3>
                <p class="mb-2">Somewhere Address xyz ...</p>
                <p class="mb-2">
                <a href="mailto:contact@yourdomain.com" class="hover:text-white">contactmail</a>
                </p>
                <p class="mb-6">
                <a href="tel:+1234567890" class="hover:text-white">Contact Number</a>
                </p>
                <div class="text-sm">
                &copy; 2025 NishCorp. All Rights Reserved.
                </div>
            </div>
        </footer>
    </main>

  <div style="height: 20vh;"></div>
<script type="module" src="/assets/js/main.js"></script>
</body>
</html>