<header class="fixed top-0 left-0 right-0 z-50 transition-all duration-300">
    <nav class="glass-nav container mx-auto px-6 py-4 rounded-b-xl">
        <div class="flex items-center justify-between text-white">
            <div class="font-bold text-xl glitch" data-text="NishCorpLogo">
                <a href="/" class="glitch">NishCorpLogo</a>
            </div>
            <button id="mobile-menu-button" class="md:hidden text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
            <div id="nav-links" class="hidden md:flex items-center space-x-8 font-medium">
                <a href="/" class="hover:text-gray-300">Home</a>
                <a href="/features/" class="hover:text-gray-300">Features</a>
                <a href="/about/" class="hover:text-gray-300">About</a>
                <a href="/contacts/" class="hover:text-gray-300">Contact Us</a>
            </div>
            <button onclick="scrollToFooter()" id="contact-button" class="hidden md:block bg-white text-black font-bold py-2 px-4 rounded-lg hover:bg-gray-200 transition-colors">
                Get in Touch
            </button>
        </div>
        <div id="mobile-nav-links" class="md:hidden hidden mt-4 space-y-2">
            <a href="/" class="block text-white hover:text-gray-300 py-2 glitch" data-text="Home">Home</a>
            <a href="/features/" class="block text-white hover:text-gray-300 py-2 glitch" data-text="feature">Features</a>
            <a href="/about/" class="block text-white hover:text-gray-300 py-2 glitch" data-text="About">About</a>
            <button onclick="scrollToFooter()" class="block w-full text-left bg-white text-black font-bold py-2 px-4 rounded-lg hover:bg-gray-200 transition-colors mt-2">
                Contact
            </button>
        </div>
    </nav>
</header>